.dark-home {
  background-color: rgb(2, 13, 17) !important;
  color: white;
}
.main-section {
  min-height: 60vh;
}
.big-intro {
  font-size: 50px;
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.home-intro {
  gap: 30px;
  margin-bottom: 30px;
}
.home-group {
  background-image: linear-gradient(
      40deg,
      rgb(2, 13, 17, 0.99),
      rgb(2, 13, 17, 0.99),
      rgb(2, 13, 17, 0.9)
    ),
    url("../assets/images.jpg");
  background-size: cover;
  background-position: center;
  transition: 1s;
}
.line {
  height: 3px;
  width: 45px;
  background-color: rgb(49, 226, 202);
  border-radius: 6px;
}
.flex-row {
  display: flex;
  align-items: center;
  gap: 10px;
}
.bar-close {
  position: absolute;
  top: 20px;
  right: 10px;
}

.main-section {
  padding: 30px;
}
.btn {
  padding: 12px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 500;
}
.dark-card {
  background-color: rgb(25, 25, 31);
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 10px 20px;
  margin: 30px 0;

  transition: 0.4s;
  gap: 8px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
  height: 230px;
  width: 230px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
}
.card_icons {
  font-size: 40px;
}

.light-card {
  background-color: #04c2c9;
  color: white !important;
}
.light-card .line {
  background-color: #000 !important;
}
@media (min-width: 690px) {
  .card {
    width: 200px;
    height: 200px;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-items: center;
    align-content: center;
    grid-gap: 5px;
  }
}

@media (min-width: 901px) {
  .card {
    width: 210px;
    height: 210px;
  }
  .main-section {
    /* display: grid;
    grid-template-columns: 200px auto 200px; */
    padding: 0 100px;
    padding-top: 100px;
  }
  .card-container {
    justify-content: none;
    grid-gap: 0px;
    gap: 0px;
    margin-top: 30px;
  }
  .big-intro {
    font-size: 50px;
    width: 50%;
  }
}
