.mobile_nav {
  position: fixed;
  top: 0;
  z-index: 22;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  color: white !important;
  right: 0;
  float: right;
  padding: 19px;
  padding-left: 26px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 23px;
  font-weight: 600;
}
