.project {
  width: 100%;
  padding: 10px;
}
.project img {
  width: 100%;
  border-radius: 5px;
}
.project_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.link_btn {
  background-color: #04c2c9;
  color: black;
  font-weight: 700;
  padding: 14px 20px;
  font-size: 15px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  width: 50%;
  gap: 10px;
  margin-top: -55px;
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0 0 0/17%);
}
@media (min-width: 902px) {
  .project {
    width: auto;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    gap: 20px;
  }
  .project img {
    width: 100%;
  }
}
@media (min-width: 1124px) {
  .project {
    width: auto;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: flex-start;
    gap: 20px;
  }
  .project img {
    width: 100%;
  }
}
