.project {
  width: 350px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  transition: 0.8s;
}
.project_node_cont {
  box-shadow: 0 14px 20px rgba(0 0 0/10%);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
@media (max-width: 350px) {
  .project {
    width: 85%;
  }
}
.project_desc {
  height: 88%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.desc {
  padding: 20px;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}
.note {
  padding: 25px 13px;
  width: 350px;
  background: rgba(30, 143, 255, 0.15);
  border: solid 1px dodgerblue;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  color: #7b8190;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.project_tool {
  text-transform: uppercase;
  color: #fff;
  background-color: #242526;
  height: 12%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 11px;
  padding-left: 10px;
  border-top: solid 2px #e31b6d;
}
.desc_container {
  height: 100%;
  transition: 0.5s;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  /* display: none; */
  /* padding: 10px; */
}
.project:hover .desc_container {
  /* position: relative; */
  opacity: 1;
  /* display: block; */
  transition: 0.5s;
}
.project:hover {
  /* background-position: bottom; */
  background-size: cover;

  /* transition: 0.3s; */
}
.project img {
  width: 100%;
  border-radius: 5px;
  transition: 0.3s;
  display: none;
}
.project_container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.project_name {
  padding: 10px 15px;
  background-color: #242526;
  color: #ee1c74;
  font-weight: 600;
  font-size: 11px;
  border-bottom: solid 2px #ee1c74;
}

.link_btn {
  background: linear-gradient(#04c2c9, #04c2c9);
  color: black;
  font-weight: 700;
  padding: 8px 15px;
  font-size: 15px;
  /* margin: 10px 0; */
  display: flex;
  align-items: center;
  width: auto;
  gap: 6px;
  /* margin-top: -55px; */
  position: relative;
  z-index: 1;
  box-shadow: 0 0 10px 0 rgba(0 0 0/17%);
  border-radius: 10px;
  transition: 0.1s;
}
.link_btn:hover {
  background: linear-gradient(to right, #04d9e0, #23f4fb);
  transition: all 0.1s;
  box-shadow: 0 0 0 2px #ee1c74;
}
.git_icon {
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
  border-radius: 5px;
}
.github {
  background: #ee1c74;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.github:hover {
  background: #fb428f;
  transform: scale(1.03);
  transition: all 0.3s;
  box-shadow: 0 0 0 2px #242526;
}
.github:hover .git_icon {
  color: #4d4e50;
  transition: all 0.3s;
}
@media (min-width: 767px) {
  .project_container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 15px;
  }
  .project {
    width: 100%;
  }
}
@media (min-width: 902px) {
  .project_container {
    gap: 50px;
  }
  .project img {
    width: 100%;
  }
}
@media (min-width: 1124px) {
  .project {
    width: auto;
  }
  .project_container {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    justify-content: flex-start;
    gap: 20px;
  }
  .project img {
    width: 100%;
  }
}
