.service-container {
  min-height: 200px;
}
.tool-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.dark-service {
  background-color: rgb(25, 25, 31);

  color: white;
}
.toolcard {
  border-bottom: 3px solid #fff;
  box-sizing: border-box;
  padding: 20px;
  height: auto;
  background-color: #fafafa;
  color: black !important;
  transition: all 0.5s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skill_icon {
  font-size: 50px;
  color: #e31b6d;
}
.toolcard:hover {
  background-image: linear-gradient(
    45deg,
    rgba(49, 226, 202, 0.329),
    rgba(44, 233, 208, 0.678)
  );
  transition: all 0.5s;
  color: black;
}
.title-text {
  font-weight: 700 !important;
  margin-bottom: 10px;
}
.skill_text {
  font-size: 13px;
}
@media (min-width: 600px) {
  .toolcard {
    height: 180px;
  }
}
@media (min-width: 901px) {
  .tool-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .toolcard {
    min-height: 210px;
  }
}
